<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.prolog4j.problog.extensions.prologparserprovider2" name="PrologParserProvider2" schema="schema/org.prolog4j.problog.extensions.prologparserprovider2.exsd"/>
  <extension
       point="org.prolog4j.problog.extensions.prologparserprovider2">
    <class
          class="org.palladiosimulator.supporting.prolog.PrologExecutableExtensionFactory:org.eclipse.xtext.parser.IParser">
    </class>
  </extension>
</plugin>
